In [9]:
# Import packages
import os
import pandas as pd #pip install pandas

boxoffice = os.path.join("datasets","boxoffice.csv")

df = pd.read_csv(boxoffice)

#print(df.info())
#print(df.head())
#print(df.describe())
#print(df["lifetime_gross"].describe().apply(lambda x: format(x, 'f')))
#print(df.tail())

#print(df.iloc[:3])

print(df.iloc[[0,16541]])

        rank                         title studio  lifetime_gross  year
0          1  Star Wars: The Force Awakens     BV       936662225  2015
16541  16542                   Zyzzyx Road   Reg.              30  2006
                          title  lifetime_gross  year
0  Star Wars: The Force Awakens       936662225  2015
1             Avengers: Endgame       857190335  2019
2                        Avatar       760507625  2009
3                 Black Panther       700059566  2018
4        Avengers: Infinity War       678815482  2018

In [10]:
print(df.iloc[:5,[1,3,4]])

                          title  lifetime_gross  year
0  Star Wars: The Force Awakens       936662225  2015
1             Avengers: Endgame       857190335  2019
2                        Avatar       760507625  2009
3                 Black Panther       700059566  2018
4        Avengers: Infinity War       678815482  2018

In [14]:
df[df["lifetime_gross"] > 500000000]

    rank                         title studio  lifetime_gross  year
0      1  Star Wars: The Force Awakens     BV       936662225  2015
1      2             Avengers: Endgame     BV       857190335  2019
2      3                        Avatar    Fox       760507625  2009
3      4                 Black Panther     BV       700059566  2018
4      5        Avengers: Infinity War     BV       678815482  2018
5      6                       Titanic   Par.       659363944  1997
6      7                Jurassic World   Uni.       652270625  2015
7      8         Marvel's The Avengers     BV       623357910  2012
8      9      Star Wars: The Last Jedi     BV       620181382  2017
9     10                 Incredibles 2     BV       608581744  2018
10    11               The Dark Knight     WB       535234033  2008
11    12  Rogue One: A Star Wars Story     BV       532177324  2016
12    13   Beauty and the Beast (2017)     BV       504014165  2017