In [2]:
import pandas as pd
from numerize import numerize

data = {'TOP10': ['United States','China','Japan','Germany','India','United Kingdom','France','Italy','Brazil','Canada']}
df = pd.DataFrame(data)

print(df)

            TOP10
0   United States
1           China
2           Japan
3         Germany
4           India
5  United Kingdom
6          France
7           Italy
8          Brazil
9          Canada

In [3]:
upperCaseNames = [x.upper() for x in df["TOP10"]]
print(upperCaseNames)

['UNITED STATES', 'CHINA', 'JAPAN', 'GERMANY', 'INDIA', 'UNITED KINGDOM', 'FRANCE', 'ITALY', 'BRAZIL', 'CANADA']

In [4]:
forwardAndReverse = [(x.upper(),x.upper()[::-1]) for x in df["TOP10"]]
print(forwardAndReverse)

[('UNITED STATES', 'SETATS DETINU'), ('CHINA', 'ANIHC'), ('JAPAN', 'NAPAJ'), ('GERMANY', 'YNAMREG'), ('INDIA', 'AIDNI'), ('UNITED KINGDOM', 'MODGNIK DETINU'), ('FRANCE', 'ECNARF'), ('ITALY', 'YLATI'), ('BRAZIL', 'LIZARB'), ('CANADA', 'ADANAC')]

In [5]:

data = {'Country Name': ['United States','China','Japan','Germany','India','United Kingdom','France','Italy','Brazil','Canada'],
        'GDP 2021 Est. Trillions':[22675271000000,16642318000000,5378136000000,4319286000000,3124650000000,3049704000000,2938271000000,2106287000000,1883487000000,1806707000000]}
df = pd.DataFrame(data, index = [1,2,3,4,5,6,7,8,9,10])
print(df)

      Country Name  GDP 2021 Est. Trillions
1    United States           22675271000000
2            China           16642318000000
3            Japan            5378136000000
4          Germany            4319286000000
5            India            3124650000000
6   United Kingdom            3049704000000
7           France            2938271000000
8            Italy            2106287000000
9           Brazil            1883487000000
10          Canada            1806707000000

In [6]:
df["Country Name"] = [x.upper() for x in df["Country Name"]]
print(df)

      Country Name  GDP 2021 Est. Trillions
1    UNITED STATES           22675271000000
2            CHINA           16642318000000
3            JAPAN            5378136000000
4          GERMANY            4319286000000
5            INDIA            3124650000000
6   UNITED KINGDOM            3049704000000
7           FRANCE            2938271000000
8            ITALY            2106287000000
9           BRAZIL            1883487000000
10          CANADA            1806707000000

In [7]:
df["GDP 2021 Est. Trillions"] = [ numerize.numerize(x) for x in df["GDP 2021 Est. Trillions"]]
print(df)

      Country Name GDP 2021 Est. Trillions
1    UNITED STATES                  22.68T
2            CHINA                  16.64T
3            JAPAN                   5.38T
4          GERMANY                   4.32T
5            INDIA                   3.12T
6   UNITED KINGDOM                   3.05T
7           FRANCE                   2.94T
8            ITALY                   2.11T
9           BRAZIL                   1.88T
10          CANADA                   1.81T